SR-GAN/super-resolution/.git/objects/pack/pack-ac650687824522f94dcb8fda014bc0e1a60dcb69.pack
SR-GAN/super-resolution/.div2k/caches/DIV2K_valid_HR.cache.data-00000-of-00001
SR-GAN/super-resolution/.div2k/caches/DIV2K_train_LR_bicubic_X4.cache.data-00000-of-00001
SR-GAN/super-resolution/.div2k/caches/DIV2K_train_HR.cache.data-00000-of-00001
SR-GAN/super-resolution/.div2k/caches/DIV2K_valid_LR_bicubic_X4.cache.data-00000-of-00001
testing/coordinates_validity_sen2_df.pkl
testing/coordinates_validity_spot6_df.pkl
testing/final_dataset.pkl
data_loader/coordinates_validity_sen2_df.pkl
data_loader/coordinates_validity_spot6_df_.pkl
data_loader/coordinates_validity_sen2_df_.pkl
data_loader/older_versions/coordinates_validity_df.pkl
data_loader/data/coordinates_validity_sen2_df.pkl
data_loader/data/coordinates_validity_spot6_df.pkl
data_loader/data/final_dataset.pkl
data_loader/final_dataset_.pkl
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180911-110521-628_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180822-110418-291_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111803-971_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180708-110215-631_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180520-112543-431_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180520-112543-431_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180419-110127-730_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180709-112455-535_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180505-112304-300_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180902-112716-061_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180523-113321-464_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180902-112716-061_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180802-105938-888_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180419-110127-730_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180709-112455-535_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180926-110028-459_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180802-105938-888_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180623-110520-630_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180901-105939-499_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180629-112537-824_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180712-113320-460_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180504-110230-455_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111803-971_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180803-112124-890_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180926-110028-459_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180520-112543-431_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180722-113548-379_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180902-112716-061_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180803-112124-890_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180802-105938-888_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180926-110028-459_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180716-111023-182_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180802-105938-888_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180504-110230-455_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180709-112455-535_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180510-112250-260_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180417-110822-655_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180927-112330-164_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180926-110028-459_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180904-110820-125_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180926-110028-459_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180419-110127-730_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180803-112124-890_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180419-110127-730_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180709-112455-535_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180902-112716-061_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180504-110230-455_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180623-110520-630_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180708-110215-631_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180622-113442-435_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180519-110334-001_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180623-110520-630_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180802-105938-888_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180707-113317-461_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180515-112116-069_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180711-111139-550_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180403-113452-260_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180708-110215-631_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180801-113319-457_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180612-113318-463_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180714-112112-461_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180726-111615-739_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180517-111020-570_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180708-110215-631_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180708-110215-631_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180803-112124-890_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180505-112304-300_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180723-110518-017_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180803-112124-890_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180422-110727-005_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180623-110520-630_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180709-112455-535_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180505-112304-300_L2A_T30UUU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180520-112543-431_L2A_T30TWT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180519-110334-001_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180505-112304-300_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180504-110230-455_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180420-112611-293_L2A_T30UVV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180419-110127-730_L2A_T30UXU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180507-110835-947_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180711-111139-550_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180507-110835-947_L2A_T30UWV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111803-971_L2A_T30TVT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180626-111413-074_L2A_T30UXV_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180629-112537-824_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180724-112335-774_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180504-110230-455_L2A_T30UWU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180417-110822-655_L2A_T30TXT_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2B_20180505-112304-300_L2A_T30UVU_D.zip
data_collection/sen2/theia_images/original_files/SENTINEL2A_20180805-111514-408_L2A_T30UXU_D.zip
data_collection/sen2/merged_reprojected/SENTINEL2B_20180419-110127-730_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30TVT_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30UVV_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180623-110520-630_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180803-112124-890_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180520-112543-431_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30UVU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180519-110334-001_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180708-110215-631_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180803-112124-890_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180802-105938-888_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180802-105938-888_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180926-110028-459_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180902-112716-061_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30TVT_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180417-110822-655_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30UUU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180708-110215-631_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/merged_reprojected.zip
data_collection/sen2/merged_reprojected/SENTINEL2A_20180403-113452-260_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180504-110230-455_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180612-113318-463_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180802-105938-888_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180724-112335-774_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30UWV_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180505-112304-300_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30TWT_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180712-113320-460_L2A_T30UUU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111803-971_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180803-112124-890_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180504-110230-455_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180510-112250-260_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180926-110028-459_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180803-112124-890_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180504-110230-455_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180803-112124-890_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180505-112304-300_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180623-110520-630_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180520-112543-431_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180520-112543-431_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30UUU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180419-110127-730_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180629-112537-824_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111803-971_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180419-110127-730_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180904-110820-125_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30UWV_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180708-110215-631_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180902-112716-061_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180926-110028-459_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180723-110518-017_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180711-111139-550_L2A_T30TVT_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180515-112116-069_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180926-110028-459_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180505-112304-300_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180722-113548-379_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180708-110215-631_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180623-110520-630_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30UVV_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180708-110215-631_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180901-105939-499_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30UWU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180504-110230-455_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180623-110520-630_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180726-111615-739_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180629-112537-824_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111803-971_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180419-110127-730_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180505-112304-300_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180902-112716-061_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180709-112455-535_L2A_T30TWT_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180422-110727-005_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180504-110230-455_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180802-105938-888_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180716-111023-182_L2A_T30UXU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180505-112304-300_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180707-113317-461_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180911-110521-628_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180711-111139-550_L2A_T30UVV_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180417-110822-655_L2A_T30TXT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180926-110028-459_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180507-110835-947_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180419-110127-730_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180520-112543-431_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180517-111020-570_L2A_T30TVT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180507-110835-947_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180626-111413-074_L2A_T30UXU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180822-110418-291_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30UWV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180523-113321-464_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180622-113442-435_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180801-113319-457_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180519-110334-001_L2A_T30UWU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180802-105938-888_L2A_T30UXV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180902-112716-061_L2A_T30UUU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180927-112330-164_L2A_T30TWT_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180420-112611-293_L2A_T30UVV_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2B_20180714-112112-461_L2A_T30UWU_D_V1-8_FRE_RGB_2154.tif
data_collection/sen2/merged_reprojected/SENTINEL2A_20180805-111514-408_L2A_T30UVU_C_V2-2_FRE_RGB_2154.tif
data_collection/sen2/date_mosaics/merged_reprojected20180519_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180629_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180927_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180708_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180902_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180707_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180622_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180722_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180726_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180504_mosaic.tif
data_collection/sen2/date_mosaics/sen2_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180904_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180515_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180403_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180803_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180510_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180626_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180419_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180505_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180723_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180724_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180612_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180517_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180926_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180623_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180420_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180712_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180417_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180805_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180802_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180520_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180714_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180422_mosaic.tif
data_collection/sen2/date_mosaics/date_mosaics.zip
data_collection/sen2/date_mosaics/merged_reprojected20180711_mosaic.tif
data_collection/sen2/date_mosaics/date_moisaic_sample.zip
data_collection/sen2/date_mosaics/merged_reprojected20180801_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180822_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180716_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180911_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180523_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180709_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180901_mosaic.tif
data_collection/sen2/date_mosaics/merged_reprojected20180507_mosaic.tif
data_collection/small_sen2_1x1m.tif
data_collection/footprints/other/FRANCE_2018_LA93_INFO.shp
data_collection/spot6/spot6_mosaic.zip
data_collection/spot6/spot6_new.zip
data_collection/spot6/spot6_mosaic.tif
*.tif
*.jp2
.DS_Store
.ipynb_checkpoints
mac_ignore.sh
auto_commit.sh
